.panel{
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
    height: 200px;
    align-items: center;
    border-radius: 15px;
    box-shadow: -1px 0px 13px -6px rgba(0,0,0,0.21);
}

.colum{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: space-evenly;
    overflow: auto;
}

.clue{
    position: relative;
    top: 5%;
    height: 90%;
    width: 60%;
    margin-right: -10%;
    float: right;
}
.tt{
    top: 8%;
    position: relative;
    font-size:26px;
    font-weight: lighter;
    letter-spacing:1px;
    margin-bottom: 20px;
}

.td{
    top: 20%;
    float: left;
    left: 3%;
    margin-right: 30px;
    position: relative;
    font-size:20px;
    font-weight: lighter;
    color: rgb(175, 175, 175);
    letter-spacing:2px;
}

@media (max-width:750px){
    .colum{
        float: none;
        width: 100%;
        height: max-content;
        text-align: center;
        justify-content: space-evenly;
        overflow: auto;
    }
    .clue{
        position: relative;
        width: 80%;
        height: auto;
        float: none;
        margin-top: 5%;
        margin-right: 0;
    }
    .panel{
        display: block;
        height: max-content;
        justify-content: center;
        text-align: center;
    }
}