.home{
    padding-top: 5%;
}
header .container {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fefefe;
  }
header {
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
}

#t1{
  position: relative;
  left: -600px;
  transition: transform 0.8s ease-in-out;
  font-size: 3vw;
  color: rgb(200, 200, 200);
  font-weight: lighter;
  letter-spacing:2px;
}

#t2{
  position: relative;
  left: -1000px;
  transition: transform 0.8s ease-in-out;
  font-size: 6vw;
  font-weight: bold;
  letter-spacing:5px;
  color: #000;
}

#t3{
  position: relative;
  left: -600px;
  transition: transform 0.8s ease-in-out;
  font-size:3vw;
  font-weight: lighter;
  color: rgb(200, 200, 200);
  letter-spacing:2px;
}

#img{
  width: 25%;
  z-index: 6;
  animation: slide 0.8s; 
  position: absolute;
  right: 10%;
}


#bc{
  animation: bounce 0.8s; 
  z-index: 5;
  position: absolute;
  right: 10%;
  margin-right: -0.5%;
  width: 26%;
  background-color: #00a7e7;
  border-radius: 360px;
}
.devs:before{
  content: 'first Text';
  font-size: 600%;
  animation-name: head;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.home .container {
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  margin: auto;
}

@media (max-width:750px){
  .home .container {
    
    justify-content: center;
  }
  #bc{
    top: 15%;
    right: auto;
    width: 20%;
    margin-right:auto;
    margin-left: auto;
  }
  .col{
    position: absolute;
    top: 50%;}
  #img{
      margin-right: 0.5%;
      right: auto;
      top: 15.5%;
      width: 19%;
    }
}